.footer-widgets,
.site-footer {
  background-color: #f2f2f2;
}

.footer-widgets a {
  color: #484848;
  text-decoration: none;

  &:hover {
    color: #0073e5;
    text-decoration: underline;
  }
}

.social-icon-footer {
  font-size: 3rem;
  font-size: 2.75rem;
  padding: 0 1.5rem;

  @include breakpoint($medium) {
    padding: 0 1rem;
  }
}

.ion-heart {
  color: #FF0000;
}
