.home {
    .featured-widget-area {
        max-width: 1140px;
        margin: 0 auto;
        border-bottom: 2px solid #f5f5f5;
    }

    .site-tagline {
        text-align: center;
        margin: 7rem auto 5rem;
        font-size: 58px;
        font-weight: 800;
        max-width: 700px;
    }

    .home-top {
        @include makeRow($no-padding:true);

        padding: 0.5rem;
    }

    .top-section {
        @include makeColumn($size:12, $offset:0);
        @include makeColumn(md, $size:4, $offset:0);
    } 

    .top-section-title {
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
    }
}